<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            margin: auto;
            width: 50%;
            padding: 30px;
            background: yellowgreen;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 data-th-text="${name}">Welcome to Home Page</h1>
        <p>Youtube channel: <span data-th-text="${Youtube}"></span></p>
        
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident sint harum laudantium laboriosam voluptatum maxime a dolorum voluptatibus fugiat! Nulla consequatur, optio ullam eum facilis blanditiis sequi saepe exercitationem inventore.</p>
    </div>
</body>
</html>