<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content} , ~{::title})}">
<head>
    <title>Services page</title>
</head>
<body>
    <section id="content">
        <h1>Welcome to Services page</h1>
        <h2>Services offred by SCM</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dignissimos consequatur, molestias voluptates ipsa quos recusandae quam at, veritatis, doloribus accusantium! Pariatur totam impedit ducimus nesciunt, voluptatum eos optio laboriosam?</p>
    </section>
</body>
</html>